<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/head.ejs'); %>
        <title>
            <%= info.title %> | blog.sobdartho.com
        </title>
        <meta name="keyword" content="<%= info.title %> " />
        <meta name="description" content="<%= info.desc %>">

        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="<%= info.title %> | blog.sobdartho.com" />
        <meta property="og:url" content="https://blog.sobdartho.com/<%- info.tag %>/<%- info.url %>" />
        <meta property="og:description" content="'<%= info.title %>' everything explaind here about this." />
        <meta property="og:site_name" content="Sobdartho Blog" />
        <meta property="og:image" content="https://blog.sobdartho.com/og-image.jpg" />
        <meta property="twitter:image" content="https://blog.sobdartho.com/og-image.jpg" />
        <meta property="article:section" content="<%- info.tag %>" />
        <!-- <meta property="article:published_time" content="2022-05-05T22:05:45+00:00" /> -->

        <link rel="canonical" href="https://blog.sobdartho.com/<%- info.tag %>/<%- info.url %>">

        <%- include('../partials/css.ejs'); %>

        <script type="application/ld+json">
            {
              "@context": "https://schema.org/",
              "@type": "Article",
              "mainEntityOfPage": {
                "@type": "WebPage",
                "@id": "https://blog.sobdartho.com/<%- info.tag %>/<%- info.url %>"
              },
              "headline": "<%= info.title %>",
              "description": "<%= info.desc %>",
              "author": {
                "@type": "Organization",
                "name": "Sobdartho"
              },
              "publisher": {
                "@type": "Organization",
                "name": "sobdartho",
                "logo": {
                    "@type": "ImageObject",
                    "url": "",
                    "width": "",
                    "height": ""
                  }
              },
              "datePublished": "<%= info.created %>",
              "dateModified": "<%= info.updated %>"
            }
            </script>

</head>


<body>
    <%- include('../partials/header_nav.ejs'); %>
        <br><br>
        <div class="area">
            <!-- Breadcrumb Starts  -->
            <div style="width: 100%;" class="breadcrumb" itemscope="itemscope"
                itemtype="https://schema.org/BreadcrumbList">

                <span itemprop="itemListElement" itemscope="itemscope" itemtype="https://schema.org/ListItem">
                    <a href="/" itemprop="item" title="Home">
                        <meta content="1" itemprop="position">
                        <span itemprop="name">Home</span>
                    </a>
                </span>


                &nbsp;›&nbsp;


                <span itemprop="itemListElement" itemscope="itemscope" itemtype="https://schema.org/ListItem">
                    <meta content="2" itemprop="position">
                    <a href="/category/<%- info.tag %>" itemprop="item" title="<%- info.tag %>">
                        <span itemprop="name">
                            <%- info.tag.replace("-"," ").replace(" -"," ") %></span>
                            </a>
                            </span>
                            
                            
                             &nbsp;›&nbsp;
                            
                            <span itemprop=" itemListElement" itemscope="itemscope"
                                itemtype="https://schema.org/ListItem">
                                <meta content="3" itemprop="position">
                                <span itemprop="name">
                                    <%= info.title %>
                                </span>
                        </span>


            </div>

            <!-- Breadcrumb Ends  -->
            <!--meaning output section-->
            <div class="main">

                <div id="question_info"">
                <h1><%= info.title %></h1><br>

                <div class=" tag-author">
                    <a style="background-color: #3740ff; border: 1px solid rgb(29, 29, 29); color:rgb(255, 255, 255); padding: 5px;"
                        href="/category/<%- info.tag %>">
                        <%- info.tag.replace("-"," ").replace(" -"," ") %></a>
                    <a style=" background-color: #f7f7f7; border: 1px solid rgb(29, 29, 29);color:black; padding: 5px;"
                            href="#"> Author: Sobdartho </a>
                    <span style=" margin-left: 10px;" class="cr-up">
                        <span style="border: 1px solid grey; padding:5px;" class="created">
                            <%= info.updated %>
                        </span>
                    </span>
                </div>
            </div>
            <br>
            <br>


            <%- info.content %>
                <!-- below main dev ends -->


                <!-- tags sention -->
                <div style=" margin-top: 50px; padding:10px; box-sizing:border-box;" class="tags">
                    <b>Tags</b>:
                    <% let tags_arr=info.tagall.split(",") %>
                        <% for(arr of tags_arr) {%>
                            <a style="background-color: #3740ff; border: 1px solid rgb(29, 29, 29); color:rgb(255, 255, 255); padding: 5px;margin-right: 15px;"
                                href="/tag/<%- arr.replace(" ","") %>">
                                <%- arr %>
                            </a>
                            <!-- <%- arr %> -->
                            <% } %>
                                <br>
                                <br>
                                <br>
                                <span style="padding: 5px; border:1px solid black;" class="updated">Published on: <%=
                                        info.created %></span>
                </div>
        </div>


        <aside>
            <div style="position: relative;" class="box">
                <div class="head">
                    <h3>Tags</h3>
                </div>

                <div class="content">
                    <ul>
                        <li> <a href="/tag/result?page=1">Results</a> </li>
                        <li> <a href="/tag/routine?page=1">Routines</a> </li>
                        <li> <a href="/tag/circular?page=1">Circulars</a> </li>
                    </ul>
                </div>


                <!-- table of content HTML -->
                <div class="toc toc-head">
                    <div class="head">
                        <h3>Page Navigation</h3>
                    </div>
                    <div class="content">
                        <ul class="toc-ul">
                            <li> <a href="#logo">Top of This Page</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <%- include('../partials/footer.ejs'); %>
            </div>




            <script>
                // setting table of content height as main article
                let main_height = document.querySelector(".main").clientHeight;
                document.querySelector(".box").style.height = main_height.toString() + "px";

                // adding heading as ID for Table of Content
                let headOne = document.querySelector(".main").querySelectorAll("h1,h2,h3,h4,h5");
                for (hh of headOne) {
                    hh.outerHTML = hh.outerHTML.replace(`${hh.outerHTML.slice(0, 4)}`, `<h${hh.outerHTML[2]} id="${hh.innerHTML.replace(/\s/g, '-')}">`);
                }

                // adding all toc as links
                let emptArray = []
                let tocULs = document.querySelector(".toc-ul");
                for (toc of headOne) {
                    emptArray.push(`<li> <a href="#${toc.innerHTML.replace(/\s/g, '-')}">${toc.innerHTML}</a></li>`);
                }
                tocULs.innerHTML = emptArray.join('');

            </script>



            <script type="text/javascript">
                function toggle() {
                    var test = document.getElementById("navbar");
                    if (test.className == "hidden") {
                        test.className = "show";
                    } else {
                        test.className = "hidden";
                    }
                }
            </script>
</body>

</html>